In [142]:
import numpy as np
import pandas as pd
from sklearn import linear_model

In [143]:
dir = 'data/data-science-london-scikit-learn/'
app_train = pd.read_csv(dir+'train.csv', header = None)
app_test = pd.read_csv(dir+'test.csv', header = None)
app_label = pd.read_csv(dir+'trainLabels.csv', header = None)

In [144]:
app_test.shape, app_train.shape, app_label.shape

((9000, 40), (1000, 40), (1000, 1))

In [145]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(app_train, app_label, test_size=0.2, random_state=42)

In [146]:
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((800, 40), (200, 40), (800, 1), (200, 1))

In [147]:
from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics
clf = RandomForestClassifier(n_estimators=100, max_depth=10)
clf.fit(x_train, y_train.values.ravel())
y_pred = clf.predict(x_test)
print(f"Accuracy Score: {metrics.accuracy_score(y_pred, y_test)}")

Accuracy Score: 0.875

In [148]:
# 做Feature Scaling 看看???
from sklearn.preprocessing import StandardScaler, Normalizer
from sklearn.model_selection import cross_val_score
norm = Normalizer()
norm_train_data = norm.fit_transform(app_train)
print('Random Forest: ',cross_val_score(clf, norm_train_data, app_label.values.ravel(), cv=10).mean())

Random Forest:  0.866

In [149]:
n_estimators = [5, 10, 50, 100, 200, 400]
max_depth = [3, 10, 20, 40]
param_grid = dict(n_estimators=n_estimators, max_depth=max_depth)

In [150]:
print(grid_result.best_params_)

{'max_depth': 10, 'n_estimators': 400}

In [151]:
clf = RandomForestClassifier(max_depth=grid_result.best_params_['max_depth'], n_estimators=grid_result.best_params_['n_estimators'])
clf.fit(x_train, y_train.values.ravel())
y_pred = clf.predict(x_test)
print(f"Accuracy Score: {metrics.accuracy_score(y_pred, y_test)}")

Accuracy Score: 0.88

In [152]:
y_pred = clf.predict(app_test)

In [153]:
y_pred

array([1, 0, 0, ..., 1, 0, 1])

In [154]:
# 匯出csv
result = pd.DataFrame(y_pred)
result.index += 1
result.columns = ['Solution']
result['Id'] = np.arange(1, result.shape[0]+1)
result = result[['Id', 'Solution']]

In [155]:
result.to_csv('submission.csv', index=False)

In [156]:
result.shape

(9000, 2)

In [157]:
result

        Id  Solution
1        1         1
2        2         0
3        3         0
4        4         0
5        5         0
6        6         0
7        7         0
8        8         1
9        9         0
10      10         0
11      11         1
12      12         1
13      13         1
14      14         0
15      15         0
16      16         1
17      17         0
18      18         1
19      19         1
20      20         1
21      21         0
22      22         1
23      23         0
24      24         0
25      25         1
26      26         1
27      27         1
28      28         0
29      29         1
30      30         0
...    ...       ...
8971  8971         1
8972  8972         0
8973  8973         1
8974  8974         1
8975  8975         0
8976  8976         1
8977  8977         0
8978  8978         1
8979  8979         1
8980  8980         1
8981  8981         1
8982  8982         1
8983  8983         1
8984  8984         0
8985  8985         0
8986  8986         1
8987  8987         0
8988  8988         0
8989  8989         1
8990  8990         0
8991  8991         0
8992  8992         1
8993  8993         0
8994  8994         1
8995  8995         1
8996  8996         1
8997  8997         1
8998  8998         1
8999  8999         0
9000  9000         1

[9000 rows x 2 columns]